<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Library</title>
</head>
<body>
    Before
    <br>
    <%- body %> <!--setting up an ejs insert point, anything we have in our index ejs file will be rendere here in this body section, by doing this we don't need to have multiple files with all of the HTML boilerplate code-->
    <br>
    After
</body>
</html>