:root {
  --color-base-hue: 210;
  --color-danger-hue-offset: 200;
  --color-danger-hue: calc(var(--color-base-hue) - var(--color-danger-hue-offset));
  --color-background-dark: hsl(var(--color-base-hue), 100%, 15%);
  --color-background-light: hsl(var(--color-base-hue), 100%, 27%);
  --color-text-light: hsl(var(--color-base-hue), 100%, 90%);
}